
body {
    background-color: hsl(0, 0%, 10%);
    color: #ece7e7;
    font-family: 'Inter';
}

.img-like {
    width: 15px;
    height: 15px;
}

.uk-font {
    margin-left: -15px;
    font-size: small;
}

.ukuran {
    font-size: small;
}

.line-spacing {
    line-height: 1.6;
}

.text-justify{
    text-align: justify;
}